.fr-popup.fr-desktop.fr-above.fr-active{
    z-index: 100 !important;
}
.postView{
    box-shadow: unset !important;
    background-color: transparent;
}
.whiteColor{
    background-color: white;
}
.boxShadow{
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
}
.p3{
    padding: 3rem;
}
.draftEditorWrapper{
    border: 1px solid #f1f1f1
}